// start media
//header
@media (max-width:1150px){
    .header__decor-text--two {
        left: 0;
    }
}

@media (max-width:768px){
    .header__top {
        flex-direction: column;
        gap: 15px;
    }

}
@media (max-width:450px){
    .header__title {
       font-size: 50px;
    }
    .header__decor-text {
        display: none;
    }
}

@media (max-width:350px){
    .header__title {
       font-size: 40px;
    }
    .header__decor-text {
        display: none;
    }
    .header__text {
        font-size: 18px;
    }
}

//finish header

//start section
@media (max-width:1000px) {
    .info__top {
        display: block;
    }
    .info__top-text {
        width: 100%;
    }
    .info__top-text {
        padding-bottom: 20px;
        padding-top: 45px;
    }
}


// end media