//start section info
.info {
    background-image: url('../images/info_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    padding-top: 210px;

}

.info::before {
    content: "";
    position: absolute;
    // bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background-color: #262C27;
    height: 140px;
    z-index: 1;
    transform: translateY(-120);
}

.info__top {
    display: flex;
    gap: 80px;
    padding-top: 83;
    margin-bottom: 98vh;
    font-size: 18px;
    font-family: 'InterRegular';
    font-weight: 400;
}

.info__top-text {
    width: 290px;
    color: #fff;
    padding-top: 245px;
    position: relative;

}

.info__top-img {
    position: relative;
    z-index: 6;
}

.info__top-text--one {
    position: relative;
    padding-bottom: 120px;
}

.info__top-text--two {
    border-bottom: 1px solid #fff;
}

.popap__btn {
    color: #fff;
    background-color: transparent;
    border: none;
    text-align: center;
    cursor: pointer;

}

.popap__btn span {
    display: block;
    padding-top: 12px;
}

.info__btn {
    position: absolute;
    bottom: 0;
    right: 0;
}

.info__specs {
    display: flex;
    align-items: center;
    gap: 130px;
    padding-bottom: 50px;
}

.info__specs-title {
    font-size: 60px;
    font-family: 'ComfortaaRegular';
    color: #fff;
    text-transform: uppercase;
    width: 215px;
}

.info__specs-list {
    width: 643px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding: 30px 0;
    font-size: 18px;
    font-family: 'InterBold';
    color: #fff;
    font-weight: 700;
}

.info__specs-item {
    display: flex;
    gap: 25px;
    margin: 15px 0;
}

.info__specs-caption {
    width: 180px;
}

.info__specs-text {
    width: 440px;
}

//finish section info

//start section buy

.buy {
    padding: 150px 0 0;
}

.buy__inner {
    display: flex;
    align-items: center;
    gap: 100px;
    font-weight: 400;
    font-family: 'ComfortaaRegular';
}

.buy__content {
    width: 502px;
    color: #262C27;
    position: relative;
}

.buy__content-title {
    // width: 502px;
    font-size: 60px;
    color: #0093A1;
    margin-bottom: 50px;
    text-transform: uppercase;
}

.buy__content-list {
    margin-bottom: 50px;
}

.buy__content-item {
    margin-bottom: 25px;
}

.buy__content-item:hover .buy__content-caption {
    color: #0093A1;
    transition: all .3s;
}

.buy__content-caption {
    font-family: 'ComfortaaBold';
    font-weight: 700;
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 5px;
}

.buy__content-text {
    width: 292px;
    font-size: 18px;
    font-family: 'InterRegular';
    font-weight: 400;
}

.buy__content-price {
    content: "";
    width: 201px;
    height: 199px;
    font-size: 35px;
    font-weight: 700;
    font-family: 'InterBold';
    position: absolute;
    background-image: url('../images/star.svg');
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    bottom: 130px;
}

.buy__content-btn {
    text-transform: uppercase;
    color: #0093A1;
    font-size: 40px;
    font-weight: 700;
    font-family: 'ComfortaaBold';
    background-color: transparent;
    border: 2px solid #0093A1;
    max-width: 484px;
    width: 100%;
    padding: 18px 0;
    cursor: pointer;
    text-align: center;
}

.buy__content-btn:hover {
    background-color: #B9C400;
    color: #000;
    border-color: #B9C400;
    transition: all .3s;
}

//finish section buy

//start section technology
.technology {
    margin-bottom: 150px;
    background-image: url('../images/tech_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.technology__inner {
    position: relative;
    min-height: 110vh;
}

.technology__btn {
    position: absolute;
    right: 356px;
    top: 50vh;
}
.technology__box {
    position: absolute;
    bottom: 85px;
}

.technology__title {
  font-size: 60px;
  font-weight: 400;  
  font-family: 'InterRegular';
  color:#262C27;
  text-transform: uppercase;
  width: 470px;
  margin-bottom: 62px;
}

.technology__list {
    
}

.technology__list-item {
    font-size: 20px;
    font-weight: 700;
    font-family: 'InterBold';
    color:#262C27;
    margin-bottom: 15px;
}

// .gallery {

// }
// .gallery__box {

// }
// .gallery__text {
// }
// .gallery__min {
// }
// .gallery__min-img {
// }
// .gallery__max {
// }
// .gallery__max-img {
// }
// .gallery_max-img {
// }

//finish section technology